body{
	margin-right: 300px;
	margin-left: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Taviraj', serif;
}

div{
	background-color: #C0CBD6;
	height: 100%;
	border: solid 1px;
	margin: 40px;
	padding: 20px;
}

.img-float-left{
	float: left;
	width: 30%;
	height: 30%;
	margin: 0 10px 10px 0;
}

.img-float-right{
	float: right;
	width: 30%;
	height: 30%;
	margin: 0 0 10px 10px;
}

.img-size{
	width: 30%;
	height: 30%;
}

section{
	background-color: #476582;
	border: dashed;
	border-color: #97BD55;
	padding-left: 10px;
	padding-right: 10px;
}

.color-violet{
	color: #CB3BEB;
}

.text-decoration{
	text-decoration: line-through;
}

.justify{
	text-align: justify;
}